.container {
  max-width: 1200px;
  /*min-height: 100vh;*/
  padding: 0 0.5rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* margin-top: 2rem; */

}

.main {
  padding: 1rem 0;
  margin-top: 2rem;
  margin-bottom: 4rem;
  flex: 1;
  display: flex;
  justify-content: space-between;
  height: 80vh;
  /*align-items: center;*/
}


.footer {
  width: 100%;
  height: 50px;
  border-top: 1px solid #eaeaea;
  background: black;
  margin-top: 2.5rem;
}

.links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: .8rem;
}

.footer img {
  margin-left: 0.5rem;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.about {
  /*background: #f8edeb;*/
  /*color: #fff;*/;
  display: flex;
  justify-content: space-evenly;
}

.projects {
  margin: 6rem 0;
}

.title a {
  color: #f15152;
  text-decoration: none;
  transition: all .3s;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: none;
  color: #0070f3;
}

.title {
  margin: 1.2rem 0 0 0  ;
  line-height: 1.15;
  font-size: 4rem;
  position: relative;
  top: 1rem;
  /*left: 1rem;*/
}

.socials {
  position: relative;
  top: 1.5rem;
}

.social {
  font-size: 1.5rem;
  transition: all .5s;
}

.socialLink {
  text-decoration: none;
  color: #000;
}

.socialLink:hover {
  color: #054a29;
}

.description {
  /*line-height: ;*/
  font-size: 1.5rem;
  position: relative;
  top: .5rem;
  word-spacing: .2rem;
}

.descriptionText {
  font-size: 1.2rem;
  position: relative;
  top: 1rem;
  font-weight: 300;
  word-spacing: .3rem;
}

.image {
  border-radius: 20px;
  transition: all 2s;
}

.text {
  font-size: 1.1rem;
  text-align: justify;
  line-height: 35px;
}

.headimage {
  border-radius: 76% 24% 27% 73% / 50% 28% 72% 50% ;
  transition: all 2s;
}

.image:hover {
  transform: scale(1.5);
}

.headerText {
  font-size: 2rem;
}


.aboutText {
  text-align: left;
  font-size: 2rem;
}

.cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cardHeaderText {
  padding-left: 1rem;
  font-size: 1.2rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.lang {
  display: flex;
  justify-content: flex-start;
}

.list {

}

.listItem {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin-top: 3rem;
}

.card {
  margin: 1rem;
  flex-basis: 45%;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h3 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
}

.mainDiv {
  width: 500px;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
/* Smartphones (portrait and landscape) ---------- */
@media screen and (min-width: 320px) and (max-width: 480px){
  .main {
    flex-direction: column-reverse;
  }

  .title {
    font-size: 3.2rem;
    text-align: center;
  }

  .mainDiv {
    width: 100%;
  }

  .description {
    text-align: center;
    padding: 0 2rem;
    font-size: .9rem;
  }

  .descriptionText {
    text-align: center;
  }

  .cards {
    flex-direction: column;
  }

  .text {
    font-size: 1.1rem;
    padding: 0 .2rem;
    text-align: left;
  }

  .listItem {
    font-size: 1rem;
  }
  .socials {
    text-align: center;
    margin-top: 2.5em;
  }
}

/* Tablets, iPads (portrait and landscape) ---------- */
@media screen and (min-width: 768px) and (max-width: 1024px){
}