.nav {
    /*background: red;*/
    height: 100px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: .8rem 0;
    display: flex;
    justify-content: space-between;
}

.h2 {
    margin: 0;
    font-size: 2.3rem;
    padding: 1rem 0;
    transform: rotate(-40deg);
    text-decoration: underline;
    text-decoration-style: wavy;
    text-decoration-color: #054a29;
}

.bgBlue {
    color: #8c1c13;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.list {
    display: flex;
    list-style: none;

}

.listItem {
    margin: 0 1.2rem;
    font-size: 1.2rem;
    font-weight: 900;
    cursor: pointer;
    padding-bottom: .4rem;
    transition: all 2s;
}

.listItem:hover {
    color: #054a29;
    border-bottom: 1px solid #054a29;
}

.sayHi {
    border: 3px solid #f15152;
    border-radius: 8px;
    padding: .3rem .8rem;
    margin-left: 1rem;
    margin-bottom: .4rem;
    font-size: 1.2rem;
    font-weight: 600;
    outline: none;
    color: #fff;
    background: #f15152;
}

/* Smartphones (portrait and landscape) ---------- */
@media screen and (min-width: 320px) and (max-width: 480px){
    .flex {
        justify-content: space-around;
    }

    .sayHi {
        border: 3px solid #f15152;
        border-radius: 8px;
        padding: .3rem .6rem;
        margin-left: 1rem;
        margin-bottom: .4rem;
        font-size: .8rem;
        font-weight: 600;
        outline: none;
        color: #fff;
        background: #f15152;
    }

    .container {
        padding: .8rem .5rem;
    }
}